/.idea/
/.gradle/
/.idea/
/build/
/gradle/
/run/
/src/
/.gitignore
/build.gradle
/changelog.txt
/CREDITS.txt
/gradle.properties
/gradlew
/gradlew.bat
/LICENSE.md
/LICENSE.txt
/README.md
/README.txt
/.gradle/
/.idea/
/build/
/gradle/
/run/
/src/
/.gitignore
/build.gradle
/changelog.txt
/CREDITS.txt
/gradle.properties
/gradlew
/gradlew.bat
/LICENSE.md
/LICENSE.txt
/README.md
/README.txt
